body {
    background-image: url("../images/pexels-andreea-ch-1047284.jpg"); no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  
   }

h1 {
    font-family: 'Markazi Text', serif;
    padding: 40px;
}

h2 {
    font-family: 'Markazi Text', serif;
    padding: 20px;
}
p {
    font-family: 'Markazi Text', serif;
    font-size: large;
    padding: 10px;}

    .disclaimer {
        font-size: smallest;
    }

/*form*/
.submit-button {
border-radius: 0%;
border-width: 1px;
background-color: transparent;
color: black;
border-color: gray;
font-family: 'Markazi Text', serif;
padding-left: 45px;
padding-right: 50px;
padding-top: 10px;
padding-bottom: 10px;
align-self: center;
text-align: center ;
margin:0 auto;
}

.text-box {
    border-radius: 0%;
    border-width: 1px;
    background-color: transparent;
    color: black;
    border-color: gray;
    font-family: 'Markazi Text', serif;
    padding: 30px;
    width: 100%;
    text-align: left;
    }

.results {
    text-align: right;
}



/*content boxes*/
footer {
    margin-bottom: 50px;
    align-self: center;
    position: fixed;
    bottom: 0;
    width: calc(100% - 100px);
}

.footer-flex {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: calc(100% - 50px);
}

.content_box {
    background-color: white;
    opacity: 90%;
    position: fixed;
    padding: 50px;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    overflow: scroll;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.form-check-label {
    font-family: 'Markazi Text', serif;
}

.credit-text {
    font-size: 12px;
}


/*button code*/
button a {
    color: white;
    
}

button a:hover {
    color: white;
    text-decoration: none;
}

button a:visited {
    color: white;
    text-decoration: none;
}

button a:active {
    color: white;
    text-decoration: none;
}

.social-logo {
    width:auto;
    height:21px;
}

@media only screen and (max-width: 600px) {

    h1 {
        font-size: medium;
    }
    h2 {
        font-size: small;
    }
    p {
        font-size: smaller;
    }

    .disclaimer {
        font-size: smallest;
    }

    .credit-text {
        font-size: 8px;
    }

    .hide-on-mob {
        display: none;
    }

    .footer-layer {
        width: 100%;
        text-align: center;
    }
    .footer-flex {
        flex-direction: column;
    }

    .footer-flex-2 {
        flex-direction: row;
    }

    .content_box {
        padding: 10px;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .social-logo {
        width:auto;
        height:16px;
    }
    
}