<!DOCTYPE html>
<html>
    <head>
    <!-- title: CHANGE ME -->
        <title>Arabic Transliterator</title>
        <link rel="icon" href="../static/images/meem.png">
    <!-- stylesheets -->
        <link rel="stylesheet" href="../static/css/transliterator_stylesheet.css">
        <link href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
       
        
    
    <!-- meta -->
        <meta name="author" content="Maggie Hunt">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="A transcription tool, to convert the Ltin and Arabic alphabets.">
        <meta name="keywords" content="python,HTML,CSS,javascript,Arabic,transcrier,transcription,cursive,BiDi,reshaper,arabic_reshaper,coding,programming">
        
    </head>
    <body>
        <div class="content_box">
        <h1>Welcome to the Arabic Transliterator</h1>
        <p>Please enter your text to transliterate. This transliterator works with MSA pronunciations. This algorithm does not currently add shedda or sukūn markings, and will not assume any implied vowel sounds.
            <br>Please see the <a href= "https://www.cambridge.org/core/services/aop-file-manager/file/57d83390f6ea5a022234b400/TransChart.pdf" target="blank">IJMES Transliteration System</a> as a guide for Western transcription, especially if you need to copy and paste special characters.
            </ul>
        </p>
<div id="form-section">
        <form id=transliteratorForm action="/transliterator"  method="post" onsubmit="return transliterate()" enctype="multipart/form-data">
            <div class="form-group">
                
                <label for="inputText"><h2>What would you like to transliterate?</h2></label>
                <textarea class="text-box" id="inputText" name="inputText" rows="3" placeholder="Enter text here" required></textarea>
              </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                <label class="form-check-label disclaimer" for="exampleCheck1">I understand that this website is for academic purposes only, and I will independently verify that my transliteration is accurate before using it for personal, professional or political purposes.</label>
            </div>
                <button type="submit" class="submit-button" id="form-button">Submit</button>
        </form></div>
        <br>
        {% if transliterator_text %}
 <div class="center"><p>Original input:</p>
        <p class="left">{{inputTextFromForm}}</p>
        <p>Transliteration:</p>
        <p class="results"><span dir="rtl">{{transliterator_text}}</span></p>
        <button type="submit" class="submit-button" id="reset" action="/">Reset</button>
            {% else %}
            <p>Your transliteration will appear here.</p>
            {% endif %}
</div>
        <footer>
            <div class="footer-flex">
            <div class="footer-layer">
                <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="maggierph" data-color="#ffffff" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFDD00">

                </script></div>
            <div class="footer-layer">
                <a href="https://www.linkedin.com/in/maggierphunt/" title="Connect on Linkedin" target=blank><img src="../static/images/linkedinicon.png" alt="Reach out on Linkedin" class="social-logo"></a>
                <a href="https://github.com/maggierphunt/arabic-transcriber" title="View on GitHub" target=blank><img src="../static/images/githubicon.png" alt="See the code!" class="social-logo"></a>
                </div>
            <div class="footer-layer"><p><a href ="https://www.pexels.com/photo/beige-concrete-walls-1047284/" class="credit-text">Background<span class="hide-on-mob"> image</span> by Andreea Ch<span class="hide-on-mob">, via Pexels</span></a></p></div>
        </div></footer> 
 </body>
        <!-- scripts-->
        <script src="../static/js/transliterator_script.js"></script>
   
</html>