<!DOCTYPE html>
<html>
    <head>
    <!-- title: CHANGE ME -->
        <title>Arabic Alphabet Transcriber</title>
        
    <!-- stylesheets -->
        <link rel="stylesheet" href="../static/css/transcriber_stylesheet.css">
        <link href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
       
        <!-- scripts-->
        <script src="../static/js/transcriber_script.js"></script>
    
    <!-- meta -->
        <meta name="author" content="Maggie Hunt">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="A transcription tool, to convert the Ltin and Arabic alphabets.">
        <meta name="keywords" content="python,HTML,CSS,javascript,Arabic,transcrier,transcription,cursive,BiDi,reshaper,arabic_reshaper,coding,programming">
        
    </head>
    <body>
        <div class="content_box">
        <h1>Welcome to the Arabic transcriber</h1>
        <p>Please enter your text to transcribe. This transcriber works with MSA pronunciations. 
            <br>Please see the <a href= "https://www.cambridge.org/core/services/aop-file-manager/file/57d83390f6ea5a022234b400/TransChart.pdf">IJMES Transliteration System</a> as a guide on Western transcription
            </ul>
        </p>

        <form>
            <div class="form-group">
                <label for="TextToTranscribe">What would you like to transcribe?</label>
                <textarea class="form-control" id="TextToTranscribe" rows="3" placeholder="Enter text here" required></textarea>
              </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                <label class="form-check-label" for="exampleCheck1">I confirm that I understand that this website is for academic purposes only, and I will verify that my transcription is accurate before using it for personal, professional or political purposes.</label>
            </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div><h2>See your results below:</h2><div class="text_box"></div>
        <form methods="post" action="/">
            <button type="submit" class="download_button"><a href="data:text/txt;base64, {{ plot_url }}" download="Transcription">Download transcription
                </a></button></form></div>
            </div>
        </body>
</html>